<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Система голосования</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">

    <h1>Мимимиметр</h1>
    <table th:if="${candidates.size() == 2}">
        <tbody>
        <tr>
            <td>Кто круче? Кликни по фотографии</td>
        </tr>
        <tr>
        <td th:each="candidate : ${candidates}">
            <table>
                <tbody>
                <tr>
                    <td>
                        <a th:href="@{'/vote/' + ${candidate.id}}">
                            <img th:src="@{'/resources/static/' + ${candidate.picture} + '.jpg'}" /><br>
                            <div th:text="${candidate.name}"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        </tbody>
    </table>


    <table th:if="${candidates.size() == 10}">
        <tbody>
        <tr>
            <td>Топ 10</td>
        </tr>
        <tr th:each="candidate : ${candidates}">
            <td th:text="${candidate.id}"/>
            <td th:text="${candidate.picture}"/>
            <td th:text="${candidate.name}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>